<div class="container py-3">
  <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="../assets/metamask.svg" alt="meta mask icon" width="100" height="100" />
    <h1 class="display-5 fw-bold">My Web3 App</h1>
    <div class="col-lg-6 mx-auto">
      <div *ngIf="!wallet">
        <p class="lead mb-4">Choose your connection method</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button (click)="createWallet()" type="button" class="btn btn-primary btn-lg px-4 gap-3">
            Create a Wallet
          </button>
          <button type="button" class="btn btn-secondary btn-lg px-4 gap-3">
            Connnect a Wallet
          </button>
          <button type="button" class="btn btn-info btn-lg px-4 gap-3">
            Import a wallet
          </button>
        </div>
      </div>
      <div *ngIf="wallet">
        <p class="lead mb-4">This is your address: {{ wallet.address }}</p>
        <p class="lead mb-4">The token contract is: {{ tokenContractAddress }}</p>
      </div>
    </div>
  </div>
  <div *ngIf="wallet">
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Ether Balance</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">
              <small class="text-muted fw-light">⟠</small> {{ etherBalance }}
            </h1>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Token Balance</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">
              <small class="text-muted fw-light">🪙</small> {{ tokenBalance }}
            </h1>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">Voting Power</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">
              <small class="text-muted fw-light">💪</small> {{ votePower }}
            </h1>
          </div>
        </div>
      </div>
    </div>
    <div class="px-4 py-3 my-3 mx-5 text-center">
      <p>Vote for your favourite proposal</p>
      <input #voteId type="number" class="form-control" min="0" [max]="votePower" placeholder="0" />
      <div class="py-3">
        <button (click)="vote(voteId.value)" type="button" class="btn btn-success btn-lg px-4 mx-2">
          Vote
        </button>
      </div>
      <p>Request token</p>
      <input #tokenId type="number" class="form-control" min="1" placeholder="0"
        [disabled]="!isRequestTokenButtonEnabled" />
      <div class="py-3">
        <button (click)="requestToken(tokenId.value)" type="button" class="btn btn-success btn-lg px-4 mx-2"
          [disabled]="!isRequestTokenButtonEnabled">
          <div *ngIf="isRequestTokenButtonEnabled; else isLoading">
            Request
          </div>
          <ng-template #isLoading>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Minting...
          </ng-template>
        </button>
      </div>
    </div>
  </div>
</div>